reated by .ignore support plugin (hsz.mobi)

#ignore
#/frameworks

/frameworks/cocos2d-html5
/frameworks/cocos2d-x

/frameworks/runtime-src/proj.android
/frameworks/runtime-src/proj.linux
/frameworks/runtime-src/proj.win8.1-universal
/frameworks/runtime-src/proj.win32

/frameworks/runtime-src/proj.android-studio/app/build/*
/frameworks/runtime-src/proj.android-studio/app/obj/*
/frameworks/runtime-src/proj.android-studio/app/libs/*
/frameworks/runtime-src/proj.android-studio/app/assets/*
/frameworks/runtime-src/proj.android-studio/lib/pingpp_one

/runtime
/tools
/.idea
/.idea/*
/.idea/workspace.xml
/.idea/vcs.xml
/simulator
/publish

.DS_Store

backup-2016-02-26.zip