<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani/chest/baoxiangdonghua_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,216},{75,75}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{75,75}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,109},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,109},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,216},{75,75}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{75,75}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ani/chest/baoxiangdonghua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{79,73}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{79,73}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chest.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a57cde1af6cf845a378ca376a81b835$</string>
            <key>textureFileName</key>
            <string>chest.png</string>
        </dict>
    </dict>
</plist>
