<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commoin_icon_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,267},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>common_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,452},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>common_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,830},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,582},{99,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,59}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>common_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,256},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>common_bg_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,737},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_beijing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,643},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,666},{356,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,158}}</string>
                <key>sourceSize</key>
                <string>{356,158}</string>
            </dict>
            <key>common_bg_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,524},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>common_bg_jindu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,647},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>common_bg_jindu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,647},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>common_bg_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{895,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,42}}</string>
                <key>sourceSize</key>
                <string>{895,42}</string>
            </dict>
            <key>common_bg_mianban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,278},{256,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,284}}</string>
                <key>sourceSize</key>
                <string>{256,286}</string>
            </dict>
            <key>common_bg_mianban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,278},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>common_bg_mianban_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,395},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>common_bg_mianban_touming_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,333},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>common_bg_mianban_touming_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,666},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>common_bg_shangfangtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{710,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,106}}</string>
                <key>sourceSize</key>
                <string>{710,106}</string>
            </dict>
            <key>common_bg_wenzidiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,220},{600,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,30}}</string>
                <key>sourceSize</key>
                <string>{600,30}</string>
            </dict>
            <key>common_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,830},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,114}}</string>
                <key>sourceSize</key>
                <string>{191,116}</string>
            </dict>
            <key>common_box_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,92},{637,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,126}}</string>
                <key>sourceSize</key>
                <string>{637,126}</string>
            </dict>
            <key>common_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,404},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>common_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,48},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>common_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>common_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,92},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>common_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,311},{153,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>common_btn_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,340},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,728},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>common_btn_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,802},{70,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>common_btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,582},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common_btn_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,830},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,830},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,908},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,830},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,830},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,278},{246,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,60}}</string>
                <key>sourceSize</key>
                <string>{246,62}</string>
            </dict>
            <key>common_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,648},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_btn_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,874},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,156},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>common_checkbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,220},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_checkbox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,231},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,44}}</string>
                <key>sourceSize</key>
                <string>{944,44}</string>
            </dict>
            <key>common_icon_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,303},{70,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,64}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>common_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,466},{72,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>common_icon_gold11.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,92},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>common_icon_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,452},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{82,49}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{107,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{107,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,317},{241,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,124}}</string>
                <key>sourceSize</key>
                <string>{241,124}</string>
            </dict>
            <key>common_icon_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,434},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,340},{92,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,459},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,369},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,520},{100,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,196},{119,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,196},{105,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,576},{79,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{79,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,194},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>common_icon_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,942},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>common_icon_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>common_icon_laba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,404},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>common_icon_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,560},{119,85}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{119,85}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>common_icon_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,974},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>common_latiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,252},{582,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,24}}</string>
                <key>sourceSize</key>
                <string>{582,24}</string>
            </dict>
            <key>common_liaotiao_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,252},{576,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{576,16}}</string>
                <key>sourceSize</key>
                <string>{582,24}</string>
            </dict>
            <key>common_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,830},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>common_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,830},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88d1ce35f3a4257ced95bdb34f0aa16f:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
