<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1367},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>002_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1303},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>003_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1239},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>004_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,231},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>005_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1378},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,257},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,385},{70,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>anniu_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1412},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>anniu_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1378},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>anniumianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{484,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,83}}</string>
                <key>sourceSize</key>
                <string>{484,83}</string>
            </dict>
            <key>banzi_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,205},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>banzi_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,153},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,775},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,681},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>beijing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1273},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>beijing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,587},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>biaoqiananniu_tongyong_weixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1056},{185,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,88}}</string>
                <key>sourceSize</key>
                <string>{185,88}</string>
            </dict>
            <key>biaoqiananniu_tongyong_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,869},{185,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,88}}</string>
                <key>sourceSize</key>
                <string>{185,88}</string>
            </dict>
            <key>checkbox_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1237},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>checkbox_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1201},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ddddddddddddddd.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,434},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,381},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,114}}</string>
                <key>sourceSize</key>
                <string>{191,116}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,526},{99,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,59}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{944,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,44}}</string>
                <key>sourceSize</key>
                <string>{944,44}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,423},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,295},{222,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,4}}</string>
                <key>sourceSize</key>
                <string>{222,4}</string>
            </dict>
            <key>icon_jinyuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,550},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>jinbi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,811},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>jindutiao_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,550},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>jindutiao_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,909},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>jindutiao_mianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,33},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>laba_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,359},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>laba_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{895,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,42}}</string>
                <key>sourceSize</key>
                <string>{895,42}</string>
            </dict>
            <key>liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,865},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mianban_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1201},{189,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,36}}</string>
                <key>sourceSize</key>
                <string>{189,36}</string>
            </dict>
            <key>mianban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1061},{228,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,138}}</string>
                <key>sourceSize</key>
                <string>{228,138}</string>
            </dict>
            <key>mianban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,79},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>mianban_tongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,488},{125,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,82}}</string>
                <key>sourceSize</key>
                <string>{125,82}</string>
            </dict>
            <key>mianban_tongyong_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,423},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>mianban_tongyong_an2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1446},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>mianban_tongyong_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1403},{179,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,49}}</string>
                <key>sourceSize</key>
                <string>{179,49}</string>
            </dict>
            <key>mianban_tongyong_shangfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{481,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,20}}</string>
                <key>sourceSize</key>
                <string>{481,20}</string>
            </dict>
            <key>mianban_tongyong_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1479},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>mianban_tongyong_touming_20%.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,488},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>mianban_tongyong_touming_40%.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1541},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>paimingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>shangfangtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{710,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,106}}</string>
                <key>sourceSize</key>
                <string>{710,106}</string>
            </dict>
            <key>shengyin_anning.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,434},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>shengyin_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,434},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>shengyin_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,434},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>shudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{20,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,606}}</string>
                <key>sourceSize</key>
                <string>{20,606}</string>
            </dict>
            <key>shuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,123},{4,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,68}}</string>
                <key>sourceSize</key>
                <string>{4,68}</string>
            </dict>
            <key>tishihongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,387},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>tongyong_antiaodikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,21}}</string>
                <key>sourceSize</key>
                <string>{960,21}</string>
            </dict>
            <key>tongyong_gedangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{960,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,6}}</string>
                <key>sourceSize</key>
                <string>{960,6}</string>
            </dict>
            <key>toumingdiban_40%.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,783},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>touxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1378},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1403},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1333},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1243},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1493},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1151},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1061},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1511},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{288,296}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{288,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_09_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1431},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,783},{276,296}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{276,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1431},{82,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{288,282}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{288,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1599},{86,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1092},{284,292}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{284,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1577},{84,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,134},{230,298}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{230,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,295},{70,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,572},{266,298}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{266,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1519},{80,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,840},{250,298}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{250,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,63},{74,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{264,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{264,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1515},{80,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{278,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{278,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1556},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiang_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,489},{292,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>touxiang_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1468},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1442},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>touxiangkuang_index.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1423},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{637,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,126}}</string>
                <key>sourceSize</key>
                <string>{637,126}</string>
            </dict>
            <key>xinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,839},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>zengjia_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1603},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ff6acaa90de183afa709ffbc382110$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
