<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,917},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>commoin_icon_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1921},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>common_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,568},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>common_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1236},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{99,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,59}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>common_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,917},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>common_bg_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1236},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_beijing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1236},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{356,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,158}}</string>
                <key>sourceSize</key>
                <string>{356,158}</string>
            </dict>
            <key>common_bg_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,859},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>common_bg_jindu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1209},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>common_bg_jindu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1209},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>common_bg_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{895,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,42}}</string>
                <key>sourceSize</key>
                <string>{895,42}</string>
            </dict>
            <key>common_bg_mianban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,726},{256,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,284}}</string>
                <key>sourceSize</key>
                <string>{256,286}</string>
            </dict>
            <key>common_bg_mianban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2001},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>common_bg_mianban_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2001},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>common_bg_mianban_touming_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2001},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>common_bg_mianban_touming_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2001},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>common_bg_shangfangtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,546},{710,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,106}}</string>
                <key>sourceSize</key>
                <string>{710,106}</string>
            </dict>
            <key>common_bg_wenzidiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,726},{600,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,30}}</string>
                <key>sourceSize</key>
                <string>{600,30}</string>
            </dict>
            <key>common_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,726},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,114}}</string>
                <key>sourceSize</key>
                <string>{191,116}</string>
            </dict>
            <key>common_box_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,698},{637,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,126}}</string>
                <key>sourceSize</key>
                <string>{637,126}</string>
            </dict>
            <key>common_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1084},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>common_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>common_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,726},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>common_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1236},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>common_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1080},{153,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>common_btn_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,831},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,974},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>common_btn_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1012},{70,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>common_btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,911},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common_btn_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,916},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,726},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1109},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,916},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,726},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>common_btn_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,726},{246,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,60}}</string>
                <key>sourceSize</key>
                <string>{246,62}</string>
            </dict>
            <key>common_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1020},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_btn_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1075},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1080},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>common_checkbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,801},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_checkbox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,973},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2001},{944,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,44}}</string>
                <key>sourceSize</key>
                <string>{944,44}</string>
            </dict>
            <key>common_icon_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1012},{70,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,64}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>common_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,726},{72,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>common_icon_gold11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1075},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>common_icon_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,800},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{82,49}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1236},{107,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{107,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1083},{241,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,124}}</string>
                <key>sourceSize</key>
                <string>{241,124}</string>
            </dict>
            <key>common_icon_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1012},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1236},{92,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>common_icon_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,726},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1106},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,828},{100,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>common_icon_gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1236},{119,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,917},{105,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,930},{79,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{79,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>common_icon_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,973},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>common_icon_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,884},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>common_icon_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1236},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>common_icon_laba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,801},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>common_icon_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1106},{119,85}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{119,85}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>common_icon_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1209},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>common_latiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1337},{582,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,24}}</string>
                <key>sourceSize</key>
                <string>{582,24}</string>
            </dict>
            <key>common_liaotiao_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1337},{576,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{576,16}}</string>
                <key>sourceSize</key>
                <string>{582,24}</string>
            </dict>
            <key>common_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1007},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>common_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1012},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>deep_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,546},{688,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,52}}</string>
                <key>sourceSize</key>
                <string>{688,52}</string>
            </dict>
            <key>deep_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,46},{520,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,130}}</string>
                <key>sourceSize</key>
                <string>{520,130}</string>
            </dict>
            <key>dialog_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1144,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1144,722}}</string>
                <key>sourceSize</key>
                <string>{1144,722}</string>
            </dict>
            <key>dialog_bg_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{974,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{974,662}}</string>
                <key>sourceSize</key>
                <string>{974,662}</string>
            </dict>
            <key>dialog_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,46},{764,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,498}}</string>
                <key>sourceSize</key>
                <string>{764,498}</string>
            </dict>
            <key>dialog_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1012},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>question_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1209},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,698},{4,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,64}}</string>
                <key>sourceSize</key>
                <string>{4,66}</string>
            </dict>
            <key>sex_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,831},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>sex_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1209},{18,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>sliderBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1236},{92,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{92,96}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>switch_off1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1915},{170,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{170,84}}</string>
                <key>sourceSize</key>
                <string>{204,98}</string>
            </dict>
            <key>switch_on1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1236},{172,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{172,90}}</string>
                <key>sourceSize</key>
                <string>{204,98}</string>
            </dict>
            <key>tab_selected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1084},{174,144}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{178,148}</string>
            </dict>
            <key>white_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,572},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>yellowline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,568},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a06cf780052bb5c2bdb78626dd1781:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
