<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani/expression/changgui/chijing/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/chijing/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,516},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/chijing/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,514},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/chijing/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,68},{68,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/chijing/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ciyaxiao/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,262},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ciyaxiao/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,72},{68,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ciyaxiao/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,262},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ciyaxiao/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,72},{68,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ciyaxiao/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,262},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/daogao/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/daogao/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,266},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/daogao/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,264},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/daogao/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/daogao/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/facai/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,512},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/facai/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,510},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/facai/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,510},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/facai/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,450},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/facai/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,510},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/fennu/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{68,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/fennu/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{70,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/fennu/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/fennu/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/fennu/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/gandong/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,262},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/gandong/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,260},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/gandong/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,260},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/gandong/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/gandong/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,262},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/haixiuzhuangmeng/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/haixiuzhuangmeng/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/haixiuzhuangmeng/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,454},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/haixiuzhuangmeng/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,452},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/haixiuzhuangmeng/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,454},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/huachi/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,202},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/huachi/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,200},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/huachi/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,198},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/huachi/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,196},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/huachi/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,196},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/jiong/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,450},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/jiong/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,448},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/jiong/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,448},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/jiong/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,388},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/jiong/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,388},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ku/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ku/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ku/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ku/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/ku/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/liuhan/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,392},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/liuhan/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,390},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/liuhan/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,388},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/liuhan/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,386},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/liuhan/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,390},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/outu/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,386},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/outu/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,326},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/outu/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,68},{68,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/outu/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,66},{68,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/outu/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{68,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/shuizhao/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,134},{68,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/shuizhao/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{68,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/shuizhao/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,66},{68,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/shuizhao/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/shuizhao/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,66},{68,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/weixiao/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,330},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/weixiao/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,328},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/weixiao/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,326},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/weixiao/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,324},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/weixiao/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,324},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/wunai/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,138},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/wunai/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,136},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/wunai/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,134},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/wunai/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,132},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ani/expression/changgui/wunai/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,132},{68,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free_expression.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e26a95155ef8e54eadf101250fea09e$</string>
            <key>textureFileName</key>
            <string>free_expression.png</string>
        </dict>
    </dict>
</plist>
