<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basechip_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,294},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>dropDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,282},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>dropUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,257},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>game_bg_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,501},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>game_bg_caise.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,219},{207,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,215}}</string>
                <key>sourceSize</key>
                <string>{207,215}</string>
            </dict>
            <key>game_bg_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,142},{207,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,215}}</string>
                <key>sourceSize</key>
                <string>{207,215}</string>
            </dict>
            <key>game_biaoqing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{116,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>game_biaoqing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,399},{116,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>game_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>game_btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>game_btn_quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,419},{178,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,92}}</string>
                <key>sourceSize</key>
                <string>{178,92}</string>
            </dict>
            <key>game_buchu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,478},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,46}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>game_buchu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,428},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>game_chongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,428},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>game_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{162,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,42}}</string>
                <key>sourceSize</key>
                <string>{162,42}</string>
            </dict>
            <key>game_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,347},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>game_cyy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>game_cyy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,140},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>game_difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,460},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>game_dikuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,30}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>game_dikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,471},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>game_dikuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,498},{92,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,164}}</string>
                <key>sourceSize</key>
                <string>{92,164}</string>
            </dict>
            <key>game_dikuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,526},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>game_dikuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,79},{228,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,138}}</string>
                <key>sourceSize</key>
                <string>{228,138}</string>
            </dict>
            <key>game_dikuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,72},{315,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,24}}</string>
                <key>sourceSize</key>
                <string>{315,24}</string>
            </dict>
            <key>game_dikuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,471},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>game_dikuang_liaot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{313,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{313,16}}</string>
                <key>sourceSize</key>
                <string>{315,24}</string>
            </dict>
            <key>game_dikuang_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,531},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>game_icon_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,663},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>game_icon_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,599},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_chongzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,408},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>game_icon_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,205},{87,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,24}}</string>
                <key>sourceSize</key>
                <string>{87,24}</string>
            </dict>
            <key>game_icon_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,98},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>game_icon_jiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{80,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,118}}</string>
                <key>sourceSize</key>
                <string>{80,118}</string>
            </dict>
            <key>game_icon_jiqiren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,561},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_jiqiren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,526},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{58,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,435},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,554},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>game_icon_naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,72},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>game_icon_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,98},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>game_icon_shengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,508},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>game_icon_shengyin_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,581},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>game_icon_shengyin_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,475},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>game_icon_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,625},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_icon_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,195},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>game_icon_xiaojiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,115},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>game_icon_xiaolaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,122},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_jingdeng_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,225},{30,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{30,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_jingdeng_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,428},{34,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_jingdeng_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,524},{30,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_jingdeng_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,513},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_jipaiqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{390,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,68}}</string>
                <key>sourceSize</key>
                <string>{390,68}</string>
            </dict>
            <key>game_jipaiqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,204},{41,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,68}}</string>
                <key>sourceSize</key>
                <string>{41,68}</string>
            </dict>
            <key>game_jipaiqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,125},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>game_jiqiren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,478},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>game_layer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,142},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>game_liaotian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,435},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>game_liaotian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>game_not_bigger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{303,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,48}}</string>
                <key>sourceSize</key>
                <string>{303,48}</string>
            </dict>
            <key>game_not_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,98},{242,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,42}}</string>
                <key>sourceSize</key>
                <string>{242,42}</string>
            </dict>
            <key>game_not_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{284,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,56}}</string>
                <key>sourceSize</key>
                <string>{284,56}</string>
            </dict>
            <key>game_qipao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,413},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>game_qipao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,351},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>game_qipao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,621},{42,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_qipao03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,557},{42,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_qipao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,515},{42,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,292},{168,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,114}}</string>
                <key>sourceSize</key>
                <string>{172,118}</string>
            </dict>
            <key>game_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,176},{170,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{170,114}}</string>
                <key>sourceSize</key>
                <string>{172,118}</string>
            </dict>
            <key>game_shuzi2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,353},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,97},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,277},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,335},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,317},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,299},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,281},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,173},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,263},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,245},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>game_shuzi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,412},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,219},{10,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,386},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,360},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,256},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,334},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,308},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,230},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,204},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_shuzi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,147},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,351},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>game_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,247},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>game_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>game_tongzhilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,75}}</string>
                <key>sourceSize</key>
                <string>{545,75}</string>
            </dict>
            <key>game_wenzidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,124},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>game_zhunbei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,324},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>game_zhunbei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb3e5b6b2a70230b2d4dc4a3912d56e:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
