<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_festival.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,364},{80,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{80,86}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>bt_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,318},{98,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>bt_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,436},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{54,72}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>feedback_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,318},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>head_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,534},{32,32}}</string>
                <key>offset</key>
                <string>{-33,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,67},{32,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>index_baoku_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,560},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,274},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>index_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,654},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_duihuan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,236},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,298},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>index_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,616},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_huodong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,616},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,410}}</string>
                <key>sourceSize</key>
                <string>{322,410}</string>
            </dict>
            <key>index_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,56},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>index_kuaisuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,405},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>index_mianban_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,416},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>index_mianban_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,432},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>index_mianban_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>index_mianban_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,533},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>index_mianban_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{62,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,114}}</string>
                <key>sourceSize</key>
                <string>{62,114}</string>
            </dict>
            <key>index_mianban_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{264,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,208}}</string>
                <key>sourceSize</key>
                <string>{264,208}</string>
            </dict>
            <key>index_mianban_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,806},{198,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,112}}</string>
                <key>sourceSize</key>
                <string>{198,112}</string>
            </dict>
            <key>index_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{390,354}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{390,354}}</string>
                <key>sourceSize</key>
                <string>{394,358}</string>
            </dict>
            <key>index_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,620},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_paihang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,154},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{270,264}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{270,264}}</string>
                <key>sourceSize</key>
                <string>{280,264}</string>
            </dict>
            <key>index_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,643},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_shangcheng_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,744},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_shezhi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,274},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>index_shezhi_icon_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,560},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,305},{143,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{143,51}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>index_tanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,452},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>index_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{267,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{267,52}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>index_tongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,638},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,274},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>index_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,688},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_youjian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,450},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>index_youjian_icon_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,492},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>lobby0.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,201},{157,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{157,51}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,148},{157,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{157,51}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,358},{139,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,254},{157,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{157,49}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>readBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,534},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{37,53}</string>
            </dict>
            <key>readOverBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,56},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>reward_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,556},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>system_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,539},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>three_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,142},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,84}</string>
            </dict>
            <key>words_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,118},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,414},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,400},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,364},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ef31bc9d91a7a4481794513639ee3ff:1/1$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
