<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>additional_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{70,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,64}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>dikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,156},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,30}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>duihuan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,234},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>haoyou_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,316},{80,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>kuaisuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>mianban_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>mianban_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>mianban_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{264,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,208}}</string>
                <key>sourceSize</key>
                <string>{264,208}</string>
            </dict>
            <key>mianban_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,130},{198,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,112}}</string>
                <key>sourceSize</key>
                <string>{198,112}</string>
            </dict>
            <key>renwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,398},{202,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{202,212}}</string>
                <key>sourceSize</key>
                <string>{254,212}</string>
            </dict>
            <key>renwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{254,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,198}}</string>
                <key>sourceSize</key>
                <string>{254,212}</string>
            </dict>
            <key>shangcheng_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,100},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>shezhi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>shuzidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,130},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>touxiangkuang_index.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5051c4846e48c7086e2e9fa937f66b4d$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
