<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_festival.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,268},{80,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{80,86}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>bt_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,350},{98,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>bt_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,446},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{54,72}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>feedback_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,514},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>head_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,565},{32,32}}</string>
                <key>offset</key>
                <string>{-33,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,67},{32,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>index_baoku_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,487},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,268},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>index_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,496},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_duihuan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,450},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,305},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>index_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,232},{147,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{147,52}}</string>
                <key>sourceSize</key>
                <string>{155,64}</string>
            </dict>
            <key>index_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,560},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_huodong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,560},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,360},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>index_kuaisuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,419},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>index_mianban_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,433},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>index_mianban_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>index_mianban_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>index_mianban_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,459},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>index_mianban_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,241},{62,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,114}}</string>
                <key>sourceSize</key>
                <string>{62,114}</string>
            </dict>
            <key>index_mianban_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{264,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,208}}</string>
                <key>sourceSize</key>
                <string>{264,208}</string>
            </dict>
            <key>index_mianban_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,154},{198,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,112}}</string>
                <key>sourceSize</key>
                <string>{198,112}</string>
            </dict>
            <key>index_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,480},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_paihang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,154},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>index_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,286},{141,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{141,53}}</string>
                <key>sourceSize</key>
                <string>{157,63}</string>
            </dict>
            <key>index_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,446},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,321},{140,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{140,51}}</string>
                <key>sourceSize</key>
                <string>{158,67}</string>
            </dict>
            <key>index_shangcheng_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,612},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_shezhi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,556},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,268},{143,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{143,51}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>index_tanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>index_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,100},{267,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{267,52}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>index_tongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,518},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>index_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>index_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,582},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>index_youjian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,424},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>item_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{494,228}}</string>
                <key>sourceSize</key>
                <string>{498,232}</string>
            </dict>
            <key>lobby0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{139,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby0_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,363},{139,45}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,341},{139,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby1_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,388},{137,43}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{137,43}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,316},{139,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby2_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,410},{135,47}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{135,47}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,100},{139,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{139,45}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>lobby3_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,374},{137,43}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{137,43}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>readBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,450},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{37,53}</string>
            </dict>
            <key>readOverBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,268},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>reward_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,423},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>system_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,360},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>three_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,232},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,84}</string>
            </dict>
            <key>words_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,520},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,530},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,514},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>words_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,505},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:001fcf2e314ca46c937923b58c2b78e5:1/1$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
