<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danjiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,601},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,657},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>fanhuianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,776},{112,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,52}}</string>
                <key>sourceSize</key>
                <string>{112,52}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,308},{466,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,216}}</string>
                <key>sourceSize</key>
                <string>{466,216}</string>
            </dict>
            <key>juese01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,873},{159,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,246}}</string>
                <key>sourceSize</key>
                <string>{159,246}</string>
            </dict>
            <key>juese02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>kuaisudenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,683},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>mianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{797,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{797,489}}</string>
                <key>sourceSize</key>
                <string>{797,489}</string>
            </dict>
            <key>puke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{372,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,365}}</string>
                <key>sourceSize</key>
                <string>{372,365}</string>
            </dict>
            <key>puke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,683},{339,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,349}}</string>
                <key>sourceSize</key>
                <string>{339,349}</string>
            </dict>
            <key>shangfangtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{710,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,106}}</string>
                <key>sourceSize</key>
                <string>{710,106}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,601},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>wanchengzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,493},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_scene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b58edbfdb85e75cc1cffb74ec3a8390$</string>
            <key>textureFileName</key>
            <string>login_scene.png</string>
        </dict>
    </dict>
</plist>
