<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,230},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>kuaisuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>mianban_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>mianban_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,114}}</string>
                <key>sourceSize</key>
                <string>{62,114}</string>
            </dict>
            <key>paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,230},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>tongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,194},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>youjian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79b8ca02f0f95c0dcc43af41b032273:1/1$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
