<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_10_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,498},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_10_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,474},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_2_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,490},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,464},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_3_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,464},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,534},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_4_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,532},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_4_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,500},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_5_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,510},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_5_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,498},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_6_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,466},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_6_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,476},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_7_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,464},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_7_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,474},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_8_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,442},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_8_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,430},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_9_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,414},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_9_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,396},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_A_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,362},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_A_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,362},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_Duke_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,242},{118,156}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{118,156}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_Duke_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{118,160}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_Flower_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{80,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,90}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>Card_JOKER_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,248},{18,147}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{18,147}}</string>
                <key>sourceSize</key>
                <string>{30,163}</string>
            </dict>
            <key>Card_JOKER_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,171},{18,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{18,147}}</string>
                <key>sourceSize</key>
                <string>{30,163}</string>
            </dict>
            <key>Card_J_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,456},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_J_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,422},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_K_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,422},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_K_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,440},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>Card_King_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{118,144}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_King_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,122},{118,142}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_Q_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,406},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>Card_Q_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,372},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>Card_Square-piece_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,268},{70,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>Card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>Card_clown_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,366},{96,96}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,66},{96,96}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_clown_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,268},{96,96}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,66},{96,96}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{124,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{124,176}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>Card_hearts_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>Card_hearts_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,362},{78,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,82}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>Card_queen_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{118,150}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,150}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>Card_queen_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{118,150}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,150}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>card_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,132},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>dizhubiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,360},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e0daa4de4203f9e85dc9888ef08636:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
