<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>profile_VIP_dengji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{36,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{36,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{36,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{36,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,144},{48,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,278},{46,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{46,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,230},{46,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{46,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,94},{48,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,242},{46,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{46,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_VIP_dengji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,194},{46,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{46,20}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>profile_jiatouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,320},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>profile_touxiang_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,154},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>profile_touxiang_xuanzekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>profile_touxiangdikuang_sanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>profile_vip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,272},{56,46}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,46}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,272},{56,46}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,46}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,100},{66,52}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,52}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{62,52}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,221},{64,52}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{64,52}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,206},{64,54}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,140},{64,54}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,275},{64,50}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{64,50}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>profile_vip_tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{144,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,44}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
            <key>user_info_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{170,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,44}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>user_prop_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,44}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fddea5d7e2b71ad0bc34b896d73d83f:1/1$</string>
            <key>textureFileName</key>
            <string>profile.png</string>
        </dict>
    </dict>
</plist>
