<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{494,228}}</string>
                <key>sourceSize</key>
                <string>{498,232}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,436},{64,54}}</string>
                <key>offset</key>
                <string>{104,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,69},{64,54}}</string>
                <key>sourceSize</key>
                <string>{298,198}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,334},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>room_biaoqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,232},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>room_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{424,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,104}}</string>
                <key>sourceSize</key>
                <string>{424,104}</string>
            </dict>
            <key>room_diban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{422,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,104}}</string>
                <key>sourceSize</key>
                <string>{424,104}</string>
            </dict>
            <key>room_fangzuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,338},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>room_jiantou_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,376},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>room_jiantou_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,294},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>room_shuzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,471},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,416},{17,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,444},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,444},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,444},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,444},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,444},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,444},{25,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,444},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>room_shuzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,444},{25,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>search.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,294},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>yellow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3218bd9796e6bb1905eaca4e5b770b39:1/1$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
