<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,180},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>shop_VIP_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>shop_VIP_weixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,140},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>shop_VIP_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>shop_dalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_experience-doubled.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,248},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>shop_gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{200,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,44}</string>
            </dict>
            <key>shop_gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{200,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,44}</string>
            </dict>
            <key>shop_gift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,44}</string>
            </dict>
            <key>shop_gift_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,44}</string>
            </dict>
            <key>shop_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,180},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>shop_song_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,204},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da76ba9bdd98f69dc5333954e09eddf7:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
