<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire/huo_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{112,160}}</string>
                <key>offset</key>
                <string>{8,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,267},{112,160}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>fire/huo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,302},{96,148}}</string>
                <key>offset</key>
                <string>{-3,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,269},{96,148}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>fire/huo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,116},{102,146}}</string>
                <key>offset</key>
                <string>{-8,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,268},{102,146}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>fire/huo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,206},{94,150}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,271},{94,150}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>fire/huo_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{78,108}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,271},{78,108}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/huojian/huojian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,116},{88,160}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,153},{88,160}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,742},{74,66}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,274},{74,66}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,252},{222,180}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,227},{222,180}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{250,214}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,201},{250,214}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{216,266}}</string>
                <key>offset</key>
                <string>{-17,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,190},{216,266}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,282}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,177},{234,282}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,254},{248,186}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,170},{248,186}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,504},{236,192}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,162},{236,192}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{248,198}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,155},{248,198}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,814},{252,200}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,153},{252,200}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,552},{260,202}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,149},{260,202}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{264,204}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,148},{264,204}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{268,198}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,149},{268,198}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>huojian/smoke/huojian_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{248,182}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,155},{248,182}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Missile0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14417d5dd97275976fd3bf40cbc95fb4$</string>
            <key>textureFileName</key>
            <string>Missile0.png</string>
        </dict>
    </dict>
</plist>
