<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane/guang/jiyi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,70}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,346},{388,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/guang/jiyi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{388,62}}</string>
                <key>offset</key>
                <string>{-67,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,347},{388,62}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/guang/jiyi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{388,50}}</string>
                <key>offset</key>
                <string>{-67,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,350},{388,50}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/guang/jiyi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{388,58}}</string>
                <key>offset</key>
                <string>{-67,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,350},{388,58}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/guang/jiyi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{388,40}}</string>
                <key>offset</key>
                <string>{-67,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,369},{388,40}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/plane/feiji_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,682},{206,314}}</string>
                <key>offset</key>
                <string>{70,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,101},{206,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/yan/weibu_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{332,104}}</string>
                <key>offset</key>
                <string>{-97,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,216},{332,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/yan/weibu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,372},{308,120}}</string>
                <key>offset</key>
                <string>{-93,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{308,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/yan/weibu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{374,106}}</string>
                <key>offset</key>
                <string>{-127,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,210},{374,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>plane/yan/weibu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{368,110}}</string>
                <key>offset</key>
                <string>{-116,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,209},{368,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8e5adcfc30b6593f37b25dcdae7eb7f$</string>
            <key>textureFileName</key>
            <string>plane0.png</string>
        </dict>
    </dict>
</plist>
